<!--
<%
#require 'koala'

#@oauth = Koala::Facebook::OAuth.new('635457879887599', 'c41e31decaab2f5226961f65f567e8e9')
#p @oauth

#@graph = Koala::Facebook::API.new(@oauth)

#profile = @graph.get_object("me")


%>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1594605847423709',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
-->

<!-- Header -->
  <section id="header">
    <div class="container">
      <ul class="actions">
        <li><a href="#one" class="button special scrolly">Comenzar !!</a></li>
      </ul>
    </div>
  </section>

  <section id="one" class="main special">
    <div class="container">
      <!--<span class="image fit primary"><img src="images/pic01.jpg" alt="" /></span>-->
      <div class="content">
        <p>Te proponemos de manera interactiva que nos muestres tus prioridades y que conozcas nuestra plataforma.</p>
        <p>Selecciona 4 temas que te parezcan los mas importantes!!!</p>

        <div id="temas" >
          <% @data.each do |d|%>
            <div class="boxtemas" style="background-color:<%= d['color']%>;" id="<%= d['id']%>" onclick="expandir('<%= d['id']%>','<%= d['desc']%>','<%= d['color']%>');">
              <%= d['name']%>
              <i class="fa fa-thumbs-up fa-2x" style="float:right;display:none;"></i>
            </div>
          <% end%>
          <div class="bl-content"  onclick="collapse();if(event.stopPropagation){event.stopPropagation();} event.cancelBubble=true;"></div>
        </div>

      </div>
      <a class="button" onclick="return go_paso1()">Continuar</a>
    </div>
  </section>

<script charset="utf-8">
  function expandir(id, text,color)
  {
    var div = $('#temas');
    var vwidth = div.width();
    var vheight = div.height();
    var vtop = div.position();
    $('#temas .bl-content').html('');
    $('#temas .bl-content').css('background-color',color);
    $('#temas .bl-content').css('top',vtop.top);
    $('#temas .bl-content').animate({height: vheight + 'px' ,width: vwidth + 'px',opacity:'1'},"slow");
    $('#temas .bl-content').animate({width: vwidth + 'px',opacity:'1'},"slow");
    var htmlsel = "<i class=\"fa fa-thumbs-up fa-3x\" style=\"float:left;\" onclick=\"select('"+id+"');\"></i>";
    var htmlclose = "<i class=\"fa fa-times-circle-o fa-3x\" style=\"float:right;\" onclick=\"collapse();\"></i>";
    var htmlcontent = htmlsel + htmlclose + "<div class=\"propuestas\">" + text + "</div>";
    $('#temas .bl-content').html(htmlcontent);
  }
  function collapse()
  {
    $('#temas .bl-content').animate({height: '0px' ,width: '0px',opacity:'0'},"slow");
  }
  function select(id)
  {
    $("#"+id).toggleClass('selected');
    $("#"+id+" .fa").toggle();
  }
  function go_paso1(){
    selected = $('#temas .selected');
    params = $.map(selected, function(x){return x.id});
    if(params.length < 4)
    {
        alert('Seleccione al menos 4 caracteristicas')
        return;
    }
    console.debug(params);
    window.location = 'paso1?selected='+params;
  }
</script>
