
<!--
  <div class="vid-wrapper"><video class="video-player" preload="auto"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.mp4" type="video/mp4"><source src="https://s3.amazonaws.com/webapps.esri.com/videos/66052_AGPlatform_PlanningAnalysis_v06.webm" type="video/webm"></video></div>
-->
  <section id="one" class="main special">
    <div class="container">
      <%
      @graph = Koala::Facebook::API.new(session['access_token'])
      @profile = @graph.get_object("me")
      @friends = @graph.get_connections("me", "friends")
      p @profile
      p @friends

      %>


      <div class="content">
        <header class="major">
          <h2> <%= @profile['name'] %>, gracias por Participar.</h2>
        </header>
        <p>Tu opinion y tu voto son esenciales para tener la provincia que merecemos los bonaereneses.</p>
        <div id="grafico">
          <div class="box">
            <p>Tu valoración</p>
            <%= pie_chart TemasSeleccionado.where(login: @profile['id']).group(:tema).sum('11 - orden'), height: "100px"  %>
            <div>&nbsp;</div>
              <button onclick="Publicar()">Compartir</button>
          </div>
          <div class="box">
            <p>La valoración de tus amigos <i><%= @friends[0..5].map{|f| f['name']}.join(',') %> <%= @friends.count > 5 ? '...' : '' %></i></p>
            <%= pie_chart TemasSeleccionado.where(login: @friends.map{|f| f['id']}).group(:tema).sum('11 - orden'), height: "100px"  %>
          </div>
          <div class="box">
            <p>Valoración general</p>
            <%= pie_chart TemasSeleccionado.group(:tema).sum('11 - orden'), height: "100px"  %>
          </div>
        </div>

      </div>

      <div id="fb-root">

      </div>

        <script charset="utf-8">

        window.fbAsyncInit = function() {
          FB.init({appId: '1594605847423709', status: true, xfbml: true});
        };
        (function() {
          var e = document.createElement('script'); e.async = true;
          e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
          document.getElementById('fb-root').appendChild(e);
        }());

      function Publicar(){
       FB.ui(
       {
         method: 'feed',
         name: 'Ejemplo de publicación con dialogo ',
         link: 'http://local.myapp.com:9292',
         caption: 'prueba caption',
         description: 'Descripción',
         picture: 'http://t0.gstatic.com/images?q=tbn:ANd9GcQdidD6NPbXAXgLFTTvVvjI0GeQqOwyQ55s5_-6uXLxUmoQqtpWKw',
         message: 'El texto que quieres publicar'
       },
// Si quieres que salga una alerta
       function(response) {
             if (response && response.post_id) {
               alert('He publicado en el muro' );
             } else {
               alert('No he publicado' );
             }
           }
         );
       }
    </script>

      </div>
    </div>
  </section>
